a {
	color: black;
}

.article {
	text-align: center;
	padding: 0;
	border-radius: 20px;
	transition: background-color .3s;
}

.article:hover {
	background: rgba(0,0,0,0.1);
	transition: background-color .3s;
}

body {
	background-image: url("../img/newspaper1.jpg");
}

button {
	border-radius: 20px;
	background: white;
	border: 1px solid;
}

.comment {
	text-align: center;
	border: 1px solid grey;
	border-radius: 7px;
	padding: 5px;
	margin: 5px;
}

.commentText {
	display: inline-block;
	margin: 10px 0;
	word-wrap: break-word;
	margin-right: 30px;
}

.container {
    overflow: auto;
}

.container .row {
	margin: 0;
}

.content {
	padding: 30px;
}

h3 {
	font-family: 'Fjalla One', sans-serif;
    font-size: 25px;
}

.headline:hover {
	text-decoration: underline;
}

hr {
	width: 75%;
	border: 0.5px solid #c4c4c4;
	box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.4);
    margin-top: 20px;
    margin-bottom: 15px;
	}

html, body, .container {
	height: 100%;
}

.container {
	background: white;
	box-shadow: 1px 1px 18px 5px rgba(0, 0, 0, 0.26);
}

.iconButton {
	/*margin-top: 5px;*/
}

img {
	width: 100%;
	/*height: 250px;*/
}

nav .nav-wrapper {
	position: relative;
	height: 100%;
	padding: 0 30px;
	background: white;
}

nav .brand-logo {
	font-family: 'UnifrakturCook', cursive;
	font-size: 45px;
}

nav .brand-logo {
	color: black;
	transition: color .3s;
}

nav ul a {
	color: black;
}

nav .brand-logo:hover {
	color: #4b4b4b;
	transition: color .3s;
}

p {
	font-family: 'Quicksand', sans-serif;
    width: 85%;
    margin: 25px auto;
}

.removeBtn {
	float: right;
	margin-right: 5px;
	border: 1px solid grey;
	background: #65a7b9;
	color: white;
}

.smallArticle {
	background: #d1e0e1;
	padding: 10px;
    border: 1px solid #b6b6b6;
	margin: 10px;
	overflow: auto;
}

.smallerHeadline{
	font-size: 20px;
}

.smallImg {
	width: 250px;
	height: 175px;
}

.topH1 {
	font-size: 48px;
	margin: 35px 0 15px;
	font-family: 'Quicksand', sans-serif;
}

.topImg {
	width: 75%;
}




